
h1{
display: flex;
    justify-content: center;

}
.color{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
display: block;
}
.activity{

    display: flex;
    justify-content: space-evenly;
display: none;

}
.buttons{
    display: flex;
    justify-content: space-evenly;
}